*{
    margin: 0;
    padding: 0;
    
}



a{
  text-decoration:none;
}
body{
    font-family: sans-serif;
}
#navbar{
    display: flex;
    justify-content: space-between;
}

/* #logo{
    border: 2px solod black;
} */

ul{ 
    /* display: inline-block  */
    /* width: 70%; */
    height:100%;
     /* margin-right: 30px; */
   
    background-color: red;
}
ul li{
    display: inline-block;
    /* margin-top: 0; */
    
}
/* ul li{
    float: right;
} */
ul li a{
    font-size: 20px;
    color: white;
    padding: 15px;
    /* width:100px; */
    text-align:center;
    /* padding: 20px; */
    
}

/* .nav-menu li a:hover{
    background-color: #bf3b3b;
} */

img{
    max-width: 100%;
    /* height: auto; */
    /* display: flex; */
}

#text-div{
    display: inline-block;
    /* border: 4px solid red; */
}
.banner-text{
    margin-top: -450px;
    color: white;
    margin-left: 200px;
    /* border: 4px solid red; */
    width: 40%;
}

.banner-text span{
    display: inline-block;
    font-size: 45px;
    padding-bottom: 10px;
    /* font-family: 'Poppins'; */
}

.banner-text h1{
    font-size: 55px;
    padding-bottom: 10px;
}

.banner-text p{
    font-size: 17px;
    padding: 15px 0 25px;
}

.banner-text a{
    display: inline-block;
    /* border: 2px solid red; */
    border-radius: 40px;
    /* margin-top: 20px; */
    padding: 20px 60;
    background-color: white;
    color: #FF0000;
}

.banner-text a:hover{
    background-color:#FF0000;
    color: white;
}

#banner span{
    /* display: flex;     */
}


















.alok{
    display: inline-block;
    height: 50%;
    width: 50%;
}

#mobile-image{
    display: inline-block;
    border: 2px solid black;
    height: 500px;
    width: 50%;
}

#about-text{
    display: inline-block;
    border: 2px solid red;
}

.section{
    border: 3px solid black;
    width: auto;
    height: 600px;
}
.section h1{
    text-align: center;
}

/* #banner{
    background-image : url('images/banner.jpg');
    background-size: 100% 100%;

} */

#footer{
    /* border: 5px solid red; */
    background-color: black;
    color: white;
    text-align: center;
    height: 300px;
    width: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: relative;
}

#footer h1{
    margin-top: 20px;
}




/* #banner{
    background-image:url("images/banner.jpg");
    width:100%;
    height:500px;
     background-size:100% 100%;
} */
