*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

a{
  text-decoration:none;
}

body{
    font-family: sans-serif;
}

/* navigation bar starts here  */

#navbar{
    display: flex;
    justify-content: space-between;
}

ul{ 
    height:100%;
    background-color: red;
}

ul li{
    display: inline-block;
    
}

ul li a{
    font-size: 20px;
    color: white;
    padding: 15px;
    text-align:center;
    
}

/* navigation bar ends here */

/* banner styling starts here  */

img{
    max-width: 100%;
}

#text-div{
    display: inline-block;
}

.banner-text{
    margin-top: -450px;
    color: white;
    margin-left: 200px;
    width: 40%;
}

.banner-text span{
    display: inline-block;
    font-size: 45px;
    padding-bottom: 10px;
}

.banner-text h1{
    font-size: 55px;
    padding-bottom: 10px;
}

.banner-text p{
    font-size: 17px;
    padding: 15px 0 25px;
}

.banner-text a{
    display: inline-block;
    border-radius: 40px;
    padding: 20px 60;
    background-color: white;
    color: #FF0000;
}

.banner-text a:hover{
    background-color:#FF0000;
    color: white;
}

/* banner styling ends here  */

/* About styling starts here  */
#about{
    display: flex;
    margin-top: 100px;
    border-bottom: 7px solid red;
    padding-bottom: 90px;
}
.mobile-image{
    width: 50%;
    margin-left: 160px;
}

.about-text{
    width: 50%;
    text-align: right;
    margin-right: 100px;
    
}

.about-text h3{
    font-size: 30px;
    color: #888687;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
   
}

.about-text span{
    font-weight: bold;
    font-size: 50px;
    color: #23242a;
    display: block;
    padding-bottom: 10px;

}

.about-text p{
    font-size: 17px;
    line-height: 30px;
}

/* About styling ends here  */

/* brand styling starts here  */

#brands{
    
}
.brand-heading{
    background-color:#fff;
}
.brand-heading h2{
    font-size: 50px;
    line-height: 40px;
    padding: 60px 0 60px 120px;
    /* border: 2px solid purple; */

}

.brand-background{
    background-color: #ebebeb;
}
.brand-content{

display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
margin: 80px;
/* margin-top: 40px; */
}

.brand-box{
    /* padding: 80px 0 30px 0; */
    /* border: 2px solid purple; */
    /* height: 300px;
    width: 250px; */
    background-color: #fff;
    padding: 80px 90px 30px;
    text-align: center; 
    margin-top: 80px; 
    max-width: 400px;
    box-shadow: 3px 5px 3px rgba(0,0,0,0.5);
    /* margin-right: 60px;
    margin-left: 60px; */
}

/* .brand-box img{
    width: 100%;
    height: 100%;
    
} */

.red{
    color: #ff0000;
    font-weight: bolder;
}

.brand-box h3{
    font-size: 27px;
    padding-top: 17px;
}

.brand-box span{
    display: block;
    color: #19449b;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 3px;
}
/* brand-styling ends here  */

/* footer styling starts here  */
.footer{
    background-color: black;
    color: white;
    text-align: center;
}
.f-heading h3{
    display: block;
    font-size: 40px;
    /* border-bottom: 2px solid white; */
    margin-top: 40px;
}
.f-heading span{
    display: block;
    padding: 10px 0 5px;
}

.f-heading p{
    line-height: 30px;

}

/* footer styling ends here  */